@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .iconFontSize {
        @apply text-lg 425:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
    }
}
