@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .iconFontSize {
        @apply text-lg 425:text-xl md:text-2xl lg:text-3xl 1152:text-[33px];
    }

    /** Inputs Styles Start **/
    .Auth_Input {
        @apply block w-full px-3 py-3 rounded-md border-0 text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-300 sm:text-sm sm:leading-6;
    }
    .Auth_Input:disabled {
        @apply text-gray-300 ring-gray-200;
    }

    .General_Input_1 {
        @apply block bg-white hover:ring-blue-400 w-full p-2 rounded-md border-0 py-1.5 text-gray-700 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus-visible:ring-blue-400 focus-visible:outline focus-visible:outline-blue-50 sm:text-sm sm:leading-6;
    }
    .General_Input_1:disabled {
        @apply bg-gray-200 hover:ring-gray-400;
    }

    .Input_Label_Dollar::before {
        position: absolute;
        content: '$';
        top: 0.1rem;
        right: 0.1rem;
        background-color: #e5e7eb;
        height: 90%;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0.3rem 0.3rem 0;
        -webkit-border-radius: 0 0.3rem 0.3rem 0;
        -moz-border-radius: 0 0.3rem 0.3rem 0;
        -ms-border-radius: 0 0.3rem 0.3rem 0;
        -o-border-radius: 0 0.3rem 0.3rem 0;
    }

    .showRingsOnlyOnFocus:not(:focus) {
        box-shadow: none;
        border: none;
    }
    /* Inputs Styles END */

    /* Category box START */
    .categroyLable:has(~ input:checked) {
        padding-bottom: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .categroyLable:has(~ input:checked) svg {
        transform: rotate(90deg);
    }

    .categroy .categoryBody {
        transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .categroy:has(input:checked) .categoryBody {
        max-height: 10rem;
        border: 1px solid rgb(243 244 246);
        border-top: 0;
        background-color: transparent;
    }
    /* Category box END */

    /* change sidebar flow */
    @media screen and (min-width: 1152px) {
        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-logoContainer {
            min-height: 75px;
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-logo {
            width: 66px;
            height: 28px;
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-linktext {
            @apply max-h-0 overflow-y-hidden absolute left-[95%]  transition-all duration-300;
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-linktext .text {
            @apply bg-white rounded-lg shadow-lg text-center w-44 p-2.5;
        }

        .leftArrow {
            position: absolute;
            top: 50%; /* At the bottom of the tooltip */
            left: -15%;
            margin-top: -15px;
            border-width: 15px;
            border-style: solid;
            border-color: transparent white transparent transparent;
        }

        .Dashboard_Sidebar:not(.active)
            .group:hover
            .Dashboard_Sidebar-linktext {
            @apply duration-300 max-h-96 p-5;
        }

        .Dashboard_Sidebar.active .Dashboard_Sidebar-linktext {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        .Dashboard_Sidebar.active .Dashboard_Sidebar-linktext .leftArrow {
            display: none;
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-linkSection {
            display: none;
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-linkContainer {
            gap: 0;
            padding: 0.75rem;
            justify-content: center;
            max-width: max-content;
            margin: 0 auto;
        }
        .Dashboard_Sidebar.active .Dashboard_Sidebar-linkContainer:hover {
            background-color: rgba(230, 232, 234, 0.85);
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-logoutText {
            max-width: 0;
            max-height: 0;
        }

        .Dashboard_Sidebar:not(.active)
            .Dashboard_Sidebar-logoutContainer
            .iconFontSize {
            transform: translateX(3px);
            -webkit-transform: translateX(3px);
            -moz-transform: translateX(3px);
            -ms-transform: translateX(3px);
            -o-transform: translateX(3px);
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-logoutContainer {
            gap: 0;
            padding: 0.75rem;
            justify-content: center;
            max-width: max-content;
            margin: 0 auto;
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-LogoutButton {
            margin-right: auto;
            margin-left: auto;
        }

        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-LogoutButton,
        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-SidebarLinks,
        .Dashboard_Sidebar:not(.active) .Dashboard_Sidebar-logoContainer {
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }
    }
}
