.background_yellow_line {
    background-image: url('/images/yellow-line.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.hover {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.hover:hover {
    @apply border-blue-500 bg-blue-100;
    box-shadow: 0 10px 10px rgb(123, 123, 123);
    transform: translateY(-2px) scale(1.05);
    -webkit-transform: translateY(-2px) scale(1.05);
    -moz-transform: translateY(-2px) scale(1.05);
    -ms-transform: translateY(-2px) scale(1.05);
    -o-transform: translateY(-2px) scale(1.05);
}
.hover p {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.hover:hover p {
    @apply text-blue-500;
}

.animation {
    animation: show 0.5s ease-in forwards;
    -webkit-animation: show 0.2s ease-in forwards;
}

@keyframes show {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
    }
}
