.animation-appear-from-up {
    animation: appear-from-up 1s ease-in-out forwards;
    transform: translateY(-3rem);
    -webkit-transform: translateY(-3rem);
    -moz-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    -o-transform: translateY(-3rem);
    opacity: 0;
    -webkit-animation: appear-from-up 1s ease-in-out forwards;
}
@keyframes appear-from-up {
    0% {
        transform: translateY(-3rem);
        -webkit-transform: translateY(-3rem);
        -moz-transform: translateY(-3rem);
        -ms-transform: translateY(-3rem);
        -o-transform: translateY(-3rem);
        opacity: 0;
}
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}

.animation-bg-processing {
    position: relative;
}
.animation-bg-processing::before {
    position: absolute;
    animation: w-full 1s ease forwards;
    height: 100%;
    width: 0;
    background-image: linear-gradient(45deg, #0696ff, #001128 60%);
    left: 0;
    top: 0;
    content: '';
    z-index: 0;
    -webkit-animation: w-full 1s ease forwards;
}
@keyframes w-full {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
